<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mall.mbg.mapper.UmsMemberLevelMapper">
  <resultMap id="BaseResultMap" type="com.tang.mall.mbg.model.UmsMemberLevel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="growth_point" jdbcType="INTEGER" property="growthPoint" />
    <result column="default_status" jdbcType="VARCHAR" property="defaultStatus" />
    <result column="free_freight_point" jdbcType="DECIMAL" property="freeFreightPoint" />
    <result column="comment_growth_point" jdbcType="INTEGER" property="commentGrowthPoint" />
    <result column="priviledge_free_freight" jdbcType="VARCHAR" property="priviledgeFreeFreight" />
    <result column="priviledge_sign_in" jdbcType="VARCHAR" property="priviledgeSignIn" />
    <result column="priviledge_comment" jdbcType="VARCHAR" property="priviledgeComment" />
    <result column="priviledge_promotion" jdbcType="VARCHAR" property="priviledgePromotion" />
    <result column="priviledge_member_price" jdbcType="VARCHAR" property="priviledgeMemberPrice" />
    <result column="priviledge_birthday" jdbcType="VARCHAR" property="priviledgeBirthday" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, growth_point, default_status, free_freight_point, comment_growth_point, 
    priviledge_free_freight, priviledge_sign_in, priviledge_comment, priviledge_promotion, 
    priviledge_member_price, priviledge_birthday, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_member_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_member_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tang.mall.mbg.model.UmsMemberLevel">
    insert into ums_member_level (id, `name`, growth_point, 
      default_status, free_freight_point, comment_growth_point, 
      priviledge_free_freight, priviledge_sign_in, 
      priviledge_comment, priviledge_promotion, 
      priviledge_member_price, priviledge_birthday, 
      note)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{growthPoint,jdbcType=INTEGER}, 
      #{defaultStatus,jdbcType=VARCHAR}, #{freeFreightPoint,jdbcType=DECIMAL}, #{commentGrowthPoint,jdbcType=INTEGER}, 
      #{priviledgeFreeFreight,jdbcType=VARCHAR}, #{priviledgeSignIn,jdbcType=VARCHAR}, 
      #{priviledgeComment,jdbcType=VARCHAR}, #{priviledgePromotion,jdbcType=VARCHAR}, 
      #{priviledgeMemberPrice,jdbcType=VARCHAR}, #{priviledgeBirthday,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tang.mall.mbg.model.UmsMemberLevel">
    insert into ums_member_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="growthPoint != null">
        growth_point,
      </if>
      <if test="defaultStatus != null">
        default_status,
      </if>
      <if test="freeFreightPoint != null">
        free_freight_point,
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point,
      </if>
      <if test="priviledgeFreeFreight != null">
        priviledge_free_freight,
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in,
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment,
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion,
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price,
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        #{defaultStatus,jdbcType=VARCHAR},
      </if>
      <if test="freeFreightPoint != null">
        #{freeFreightPoint,jdbcType=DECIMAL},
      </if>
      <if test="commentGrowthPoint != null">
        #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeFreeFreight != null">
        #{priviledgeFreeFreight,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeSignIn != null">
        #{priviledgeSignIn,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeComment != null">
        #{priviledgeComment,jdbcType=VARCHAR},
      </if>
      <if test="priviledgePromotion != null">
        #{priviledgePromotion,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeMemberPrice != null">
        #{priviledgeMemberPrice,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeBirthday != null">
        #{priviledgeBirthday,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tang.mall.mbg.model.UmsMemberLevel">
    update ums_member_level
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        growth_point = #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        default_status = #{defaultStatus,jdbcType=VARCHAR},
      </if>
      <if test="freeFreightPoint != null">
        free_freight_point = #{freeFreightPoint,jdbcType=DECIMAL},
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeFreeFreight != null">
        priviledge_free_freight = #{priviledgeFreeFreight,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in = #{priviledgeSignIn,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment = #{priviledgeComment,jdbcType=VARCHAR},
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion = #{priviledgePromotion,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price = #{priviledgeMemberPrice,jdbcType=VARCHAR},
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday = #{priviledgeBirthday,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tang.mall.mbg.model.UmsMemberLevel">
    update ums_member_level
    set `name` = #{name,jdbcType=VARCHAR},
      growth_point = #{growthPoint,jdbcType=INTEGER},
      default_status = #{defaultStatus,jdbcType=VARCHAR},
      free_freight_point = #{freeFreightPoint,jdbcType=DECIMAL},
      comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      priviledge_free_freight = #{priviledgeFreeFreight,jdbcType=VARCHAR},
      priviledge_sign_in = #{priviledgeSignIn,jdbcType=VARCHAR},
      priviledge_comment = #{priviledgeComment,jdbcType=VARCHAR},
      priviledge_promotion = #{priviledgePromotion,jdbcType=VARCHAR},
      priviledge_member_price = #{priviledgeMemberPrice,jdbcType=VARCHAR},
      priviledge_birthday = #{priviledgeBirthday,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>